certifi==2023.7.22
charset-normalizer==3.2.0
coloredlogs==15.0.1
et-xmlfile==1.1.0
humanfriendly==10.0
idna==3.4
openpyxl==3.1.2
pyreadline3==3.4.1
requests==2.31.0
requests-random-user-agent==2023.2.15
urllib3==2.0.4

pandas~=2.1.1
beautifulsoup4~=4.12.2
lxml~=4.9.3
selenium~=4.14.0